<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="info"
  internalLogFile="Logs\nlog-internal.txt">
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File"
      archiveNumbering="DateAndSequence"
      archiveAboveSize="10485760"
      name="ALL"
      fileName="${currentdir}\Logs\nlog-all_${shortdate}.log"
      layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />

    <!-- write logs to logstash  -->
    <target xsi:type="Network"
      name="ALL"
      keepConnection="false"
      address ="http://192.168.1.107:5046/hbk-storage-sync">
      <layout type="JsonLayout" includeAllProperties="true">
        <attribute name="timestamp" layout="${longdate}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="machinename" layout="${machinename}" />
        <attribute name="level" layout="${level}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}" />
        <attribute name="plugin_activityId" layout="${plugin_activityId}" />
        <attribute name="plugin_identity" layout="${plugin_identity}" />
        <attribute name="plugin_file_entity_id" layout="${plugin_file_entity_id}" />
        <attribute name="plugin_file_entity_filename" layout="${plugin_file_entity_filename}" />
      </layout>
    </target>

  </targets>
  <rules>
    <logger name="*" minlevel="Information" writeTo="ALL" />
  </rules>
</nlog>