<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="info"
  internalLogFile="Logs/nlog-internal.txt">
	<targets>
		<!-- write logs to file  -->
		<target xsi:type="File"
		  archiveNumbering="DateAndSequence"
		  archiveAboveSize="10485760"
		  name="File"
		  fileName="Logs/nlog-all_${shortdate}.log"
		  layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />

		<target xsi:type="Network"
		  name="Logstash"
		  keepConnection="false"
		  address ="${configsetting:item=NLog.LogstashUrl}">
			<layout type="JsonLayout" includeAllProperties="true">
				<attribute name="timestamp" layout="${longdate}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="machinename" layout="${machinename}" />
				<attribute name="level" layout="${level}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="aspnet-request-ip" layout="${aspnet-request-ip}" />
				<attribute name="aspnet-request-cookie" layout="${aspnet-request-cookie}" />
				<attribute name="aspnet-request-headers" layout="${aspnet-request-headers}" />
				<attribute name="exception" layout="${exception:format=ToString,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}" />
				<attribute name="activityId" layout="${aspnet-request:header=JSNLog-RequestId:whenEmpty=${aspnet-traceidentifier:whenEmpty=${activityid}}}"/>
				<attribute name="aspnet-mvc-controller" layout="${aspnet-mvc-controller}"/>
				<attribute name="aspnet-mvc-action" layout="${aspnet-mvc-action}"/>
				<attribute name="aspnet-response-statuscode" layout="${aspnet-response-statuscode}"/>
			</layout>
		</target>

	</targets>
	<rules>
		<logger name="*" minlevel="${configsetting:item=NLog.FileMinLevel}" writeTo="File" />
		<logger name="*" minlevel="${configsetting:item=NLog.LogstashMinLevel}" writeTo="Logstash" />
	</rules>
</nlog>